<app-simple-layout>
  <div class="grid gap-6 lg:grid-cols-2">
    <app-layout-card
      [title]="'DEMO.fetchApiCard.title' | translate"
      [description]="'DEMO.fetchApiCard.description' | translate"
    >
      <app-fetch-api-demo></app-fetch-api-demo>
    </app-layout-card>

    <app-layout-card
      [title]="'DEMO.storageCard.title' | translate"
      [description]="'DEMO.storageCard.description' | translate"
    >
      <app-storage-demo></app-storage-demo>
    </app-layout-card>
  </div>
</app-simple-layout>
